---
import Python from "./icons/Python.astro";
import Llama3 from "./icons/Llama3.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
    PYTHON: {
        name: "Python",
        class: "bg-white/10 text-white font-bold",
        icon: Python,
    },
    LLAMA3: {
        name: "Llama",
        class: "bg-white/10 text-white font-bold",
        icon: Llama3,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-white/10 text-white font-bold",
        icon: Tailwind,
    },
    NEXTJS: {
        name: "Next.js",
        class: "bg-white/10 text-white font-bold",
        icon: NextJS,
    },
};

const PROJECTS = [
    {
        title: "EnerGYM",
        description:
            "Aplicación web que utiliza inteligencia artificial para analizar tus listas de reproducción de Spotify y determinar qué tan óptima es cada canción para hacer ejercicio.",
        link: "https://energym-drab.vercel.app/",
        github: "https://github.com/MonforteGG/energym",
        image: "/projects/energym2.webp",
        tags: [TAGS.NEXTJS, TAGS.LLAMA3, TAGS.TAILWIND],
    },

    {
        title: "Tibia Discord Bot",
        description:
            "Bot de Discord para el juego Tibia, hecho en Python. Realiza tareas como agregar personajes, Web Scraping para avisar de las subidas de nivel y de las muertes, verificar quién está en línea, ubicar al NPC Rashid y usar OpenCV para clasificar el loot.",
        github: "https://github.com/MonforteGG/soe-bot",
        image: "/projects/tibia_bot2.webp",
        tags: [TAGS.PYTHON],
    },
];
---

{
    PROJECTS.map(({ title, description, tags, link, github, image }) => (
        <article class="flex gap-10 py-10">
            <div>
                <div class="overflow-hidden rounded-md shadow-2xl shadow-lime-400/15 lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                    <img
                        class="object-cover object-top w-60 lg:w-96 max-w-[420px] md:scale-105 md:hover:scale-100 transition duration-500"
                        loading="lazy"
                        src={image}
                        alt={`Captura del proyecto ${title}`}
                    />
                </div>
            </div>
            <span class="flex flex-col gap-2">
                <h3 class=" text-xl lg:text-2xl font-semibold text-lime-400">
                    {title}
                </h3>
                <ul class="flex flex-wrap gap-2">
                    {tags.map((tag) => (
                        <li>
                            <span
                                class={`flex items-center gap-x-1 pl-1 pr-3 rounded-full text-xs ${tag.class}`}
                            >
                                <tag.icon class="size-6" />
                                {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
                <p class=" text-xs lg:text-base text-gray-300 text-pretty max-w-5xl">
                    {description}
                </p>
                <footer class="flex items-end justify-start mt-4 gap-x-4">
                    {github && (
                        <LinkButton href={github}>
                            <GitHub class="size-6" />
                            Code
                        </LinkButton>
                    )}
                    {link && (
                        <LinkButton href={link}>
                            <Link class="size-4" />
                            Preview
                        </LinkButton>
                    )}
                </footer>
            </span>
        </article>
    ))
}
