---
import Python from "./icons/Python.astro";
import Llama3 from "./icons/Llama3.astro";
import NextJS from "./icons/NextJS.astro";
import MySQL from "./icons/MySQL.astro";
import Tailwind from "./icons/Tailwind.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
    PYTHON: {
        name: "Python",
        class: "bg-white/10 text-white font-bold",
        icon: Python,
    },
    LLAMA3: {
        name: "Llama",
        class: "bg-white/10 text-white font-bold",
        icon: Llama3,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-white/10 text-white font-bold",
        icon: Tailwind,
    },
    NEXTJS: {
        name: "Next.js",
        class: "bg-white/10 text-white font-bold",
        icon: NextJS,
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-white/10 text-white font-bold",
        icon: MySQL,
    },

    
};

const PROJECTS = [
    {
        title: "EnerGYM",
        description:
            "Aplicación web que utiliza inteligencia artificial para analizar tus listas de reproducción de Spotify y determinar qué tan óptima es cada canción para hacer ejercicio.",
        link: "https://energym-drab.vercel.app/",
        github: "https://github.com/MonforteGG/energym",
        image: "/projects/energym.webp",
        tags: [TAGS.NEXTJS, TAGS.LLAMA3, TAGS.TAILWIND],
    },

    {
        title: "Tibia Discord Bot",
        description:
            "Bot de Discord para el juego Tibia, hecho en Python. Realiza tareas como agregar personajes, Web Scraping para avisar de las subidas de nivel y de las muertes, verificar quién está en línea, ubicar al NPC Rashid y usar OpenCV para clasificar el loot.",
        github: "https://github.com/MonforteGG/soe-bot",
        image: "/projects/tibia_bot.webp",
        tags: [TAGS.PYTHON],
    },

    {
        title: "Idealisto Telegram Bot",
        description:
            "Idealisto es un bot de Telegram en Python que obtiene anuncios de viviendas de Idealista y los guarda en una base de datos MySQL. Compara el precio por metro cuadrado con el promedio de los anuncios previos y envía al grupo de Telegram las novedades y cambios de precio más relevantes.",
        github: "https://github.com/MonforteGG/idealisto",
        image: "/projects/idealisto.webp",
        tags: [TAGS.PYTHON, TAGS.MYSQL]
    },
];
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <img
                            alt={`Captura del proyecto ${title}`}
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            loading="lazy"
                            src={image}
                        />
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class=" text-xl lg:text-2xl font-semibold text-lime-400">
                        {title}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>

                        <div class="mt-2 text-gray-300 text-pretty text-sm lg:text-base">
                            {description}
                        </div>
                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {github && (
                                <LinkButton href={github}>
                                    <GitHub class="size-3 lg:size-6" />
                                    Code
                                </LinkButton>
                            )}
                            {link && (
                                <LinkButton href={link}>
                                    <Link class="size-3 lg:size-6" />
                                    Preview
                                </LinkButton>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
