{
    PROJECTS.map(({ title, description, tags, link, github, image }) => (
        <article class="flex gap-10 py-10">
            <div>
                <div class="overflow-hidden rounded-md shadow-2xl shadow-lime-400/15 lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                    <img
                        class="object-cover object-top w-60 lg:w-96 max-w-[420px] md:scale-105 md:hover:scale-100 transition duration-500"
                        loading="lazy"
                        src={image}
                        alt={`Captura del proyecto ${title}`}
                    />
                </div>
            </div>
            
            <span class="flex flex-col gap-2">
                <h3 class=" text-xl lg:text-2xl font-semibold text-lime-400">
                    {title}
                </h3>
                <ul class="flex flex-wrap gap-2">
                    {tags.map((tag) => (
                        <li>
                            <span
                                class={`flex items-center gap-x-1 pl-1 pr-3 rounded-full text-xs ${tag.class}`}
                            >
                                <tag.icon class="size-6" />
                                {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
                <p class=" text-xs lg:text-base text-gray-300 text-pretty max-w-5xl">
                    {description}
                </p>
                <footer class="flex items-end justify-start mt-4 gap-x-4">
                    {github && (
                        <LinkButton href={github}>
                            <GitHub class="size-3 lg:size-6" />
                            Code
                        </LinkButton>
                    )}
                    {link && (
                        <LinkButton href={link}>
                            <Link class="size-3 lg:size-6" />
                            Preview
                        </LinkButton>
                    )}
                </footer>
            </span>
        </article>
    ))
}